

body {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	font-size: 12px;
}

button {
	z-index: 9999;
	position: relative;
	padding-left: 2em;
	padding-right: 2em;
	margin-left: 1em;
	margin-right: 1em;
}

li {
	padding-bottom: 4px;
	margin-bottom: 2px;
	border-bottom: 1px dashed black;
}

li:last-child {
	border: none;
}

.bad {
	color: red;
}

.ok {
	color: green;
}

#debug-wrapper {
	position: absolute;
	bottom: 0;
	height: 60%;
	width: 100%;
	font-size: 75%;
	vertical-align: bottom;
}

#debug-wrapper > div {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 1%;
}

#debug {
	font-family: monospace;
	letter-spacing: -1px;
	bottom: 0px;
	background-color: rgba(0,0,0,1);
	opacity: 0.8;
	color: lime;
	padding: 10px 4px;
	border: 2px green solid;
	border-radius: 4px;
	margin: 0px 10px 10px 10px
}

#info-wrapper {
	position: absolute;
	top:35%;
	width: 100%;
	height: 60px;
	margin-top: -30px;
	text-align: center;
}

#info {
	font-size: 14px;
	border: darkgreen 2px solid;
	border-radius: 4px;
	margin: 0px 10px;
	color: #000;
}

#info.awesome {
	color: #fff;
	font-weight: bold;
	background-color: green;
	text-align: center;
}

.hidden {
	display: none;
}


form {
	display: inline-block;
}

form:hover {
	border: solid 1px black;
	background-color: lightgray;

}

form input, form label{
	height: 2em;
	font-size: 2em
}
